<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Addresses</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/address.css}" />
</head>
<body>
	<div class="address-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>City</th>
					<th>Street</th>
					<th>Number</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="address : ${addresses}">
					<td><span th:text="${address.city}"></span></td>
					<td><span th:text="${address.street}"></span></td>
					<td><span th:text="${address.number}"></span></td>
					<td><span th:text="${address.latitude}"></span></td>
					<td><span th:text="${address.longitude}"></span></td>
					<td><a th:href="@{/address/{id}(id=${address.id})}">View</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-dark btn-sm" href="/address/new">Create new
			address</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
</body>
</html>
