<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Addresses</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/address-index.css}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
<div th:replace="fragments/header :: header" />
	<div class="address-table">
		<table id="address" class="display table table-striped table-dark">
			<thead>
				<tr>
					<th>ID</th>
					<th>City</th>
					<th>Street</th>
					<th>Number</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="address : ${addresses}">
					<td><span th:text="${address.id}"></span></td>
					<td><span th:text="${address.city}"></span></td>
					<td><span th:text="${address.street}"></span></td>
					<td><span th:text="${address.number}"></span></td>
					<td><a th:href="@{/address/{id}(id=${address.id})}" class="fas" style='font-size:24px;color:black'>&#xf044;</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-dark btn-sm" href="/address/new">Create new
			address</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
	    	$('#address').DataTable();
		});
	</script>
</body>
</html>
