<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Address</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/address-new.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header" />
	<div class="address-new">
		<div class="address-new-header">
			<h5>Add Address</h5>
		</div>
		<form action="#" th:action="@{/address/create}" th:object="${address}"
			method="post">
			
			<div class="form-group">
				<label>City</label> <input type="text" class="form-control"
					placeholder="Enter city" th:field="*{city}" 
					th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{city}"></div>
			</div>
			
			<div class="form-group">
				<label>Street</label> <input type="text" class="form-control"
					placeholder="Enter street" th:field="*{street}" 
					th:classappend="${#fields.hasErrors('street')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{street}"></div>
			</div>
			
			<div class="form-group">
				<label>Number</label> <input type="number" class="form-control"
					placeholder="Enter number of street" th:field="*{number}" 
					th:classappend="${#fields.hasErrors('number')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{number}"></div>
			</div>
			
			<div class="form-group">
				<label>Latitude</label> <input type="number" class="form-control"
					placeholder="Enter latitude" th:field="*{latitude}" required>
			</div>
			
			<div class="form-group">
				<label>Longitude</label> <input type="number" class="form-control"
					placeholder="Enter longitude" th:field="*{longitude}" required>
			</div>
			
			<input class="btn btn-outline-dark" type="submit"
				value="Create new address">
		</form>
	</div>
</body>
</html>