<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Dirección</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Control Stock Application.</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/address/update}" th:object="${address}" method="post">
                <p>Ciudad: <input type="text" th:field="*{city}" /></p>
                <p>Calle: <input type="text" th:field="*{street}" /></p>
                <p>Numero: <input type="text" th:field="*{number}" /></p>
                <p>Latitud: <input type="number" th:field="*{latitude}" /></p>
                <p>Longitud: <input type="number" th:field="*{longitude}" /></p>
                <p>ID: <input type="text" th:field="*{id}" /></p>

                <input class="btn btn-success" style="background-color:  #9ded07" type="submit" value="Editar"/>
            </form>
            <br>
            <br>
            <form action="#" th:action="@{/address/delete/{id}(id=${address.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Eliminar dirección" />
            </form>
        </div>
    </body>
</html>
