<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
</head>
<body>
	<form action="#" th:action="@{/client/update}" th:object=${client}
		method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Surname: <input type="text" th:field="*{surname}" />
		</p>
		<p>
			Birthdate: <input type="date" th:field="*{birthdate}" />
		</p>
		<p>
			DNI: <input type="number" th:field="*{dni}" />
		</p>
		<p>
			Mail: <input type="text" th:field="*{mail}" />
		</p>
		
		<input type="submit" value="Edit" />
	</form>
	<form action="#" th:action="@{/client/delete/{id}(id=${client.id})}"
		method="post">
		<input type="submit" value="Delete client" />
	</form>

</body>
</html>