<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Store</title>
</head>
<body>	
	<table border="1px">
		<thead>
			<tr>
				<th>Address</th>
				<th>PhoneNumber</th>
				<th>Manager</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="store : ${stores}">
				<td><span th:text="${store.address.city}"/></td>
				<td><span th:text="${store.phoneNumber}"/></td>
				<td><span th:text="${store.manager.name}"/>
				<span th:text="${store.manager.surname}"/></td>
				<td>
					<a th:href="@{/store/{id}(id=${store.id})}">View</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="/store/new">New store</a>
</body>
</html>