<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Store</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/store.css}">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="store-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Store ID</th>
					<th>Address</th>
					<th>PhoneNumber</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="store : ${stores}">
					<td><span th:text="${store.id}" /></td>
					<td><span th:text="${store.address.city}" /></td>
					<td><span th:text="${store.phoneNumber}" /></td>

					<td><a th:href="@{/store/{id}(id=${store.id})}">Edit</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/store/new}" type="button" class="btn btn-dark btn-sm">Create new store</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
		
		
		
		
		<!-- 
		<form action="" method="post">
			<p>Store 1:</p>
			<select placeholder="Store1" name="store1.id">
				<option th:each="store : ${stores}" th:value="${store.id}"
					th:text="${store.address.city}"></option>
			</select>

			<p>Store 2:</p>
			<select placeholder="Store2" name="store2.id">
				<option th:each="store : ${stores}" th:value="${store.id}"
					th:text="${store.address.city}"></option>
			</select> 
			<input type="submit" />
			<span th:text="${distance}" /> km.
		</form>
		 -->
</body>
</html>