<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Store</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/store-new.css}">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="store-new">
		<div class="store-new-header">
			<h5>Add Store</h5>
		</div>
		<form action="#" th:action="@{/store/create}" th:object="${store}"
			method="post">

			<div class="form-group">
			<label>Address</label>
				<select class="form-control" placeholder="Address"
					th:field="*{address.id}">
					<option th:each="a : ${address}" th:value="${a.id}"
						th:text="${a.city}"></option>
				</select>
			</div>
	
			<div class="form-group">
				<label>Phone Number</label> <input type="text" class="form-control"
					placeholder="Enter phone number" th:field="*{phoneNumber}" required>
			</div>
			<input class="btn btn-outline-dark" type="submit"
				value="Create new store">
		</form>
	</div>
</body>
</html>
