<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employees</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/employee-index.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="employee-table">
		<table id="employee" class="display table table-striped table-dark">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Surname</th>
					<th scope="col">Manager?</th>
					<th scope="col">Sueldo base</th>
					<th scope="col">Plus</th>
					<th scope="col">View</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td><span th:text="${employee.id}" /></td>
					<td><span th:text="${employee.name}" /></td>
					<td><span th:text="${employee.surname}" /></td>
					<td><span th:text="${employee.manager}" /></td>
					<td><span th:text="${employee.minimunWage}" /></td>
					<td><span th:text="${employee.plus}" /></td>
					<td><a th:href="@{/employee/{id}(id=${employee.id})}" class="fas" style='font-size:24px;color:black'>&#xf044;</a></td>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/employee/new}" type="button" class="btn btn-dark btn-sm">Create new employee</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
	    	$('#employee').DataTable();
		});
	</script>
</body>
</html>