<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/employee-new.css}">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="employee-new">
		<div class="employee-new-header">
			<h5>Add Employee</h5>
		</div>
		<form action="#" th:action="@{/employee/create}"
			th:object="${employee}" method="post">

			<div class="form-group">
				<label>Name</label> <input type="text" class="form-control"
					placeholder="Enter name" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label>Surname</label> <input type="text" class="form-control"
					placeholder="Enter surname" th:field="*{surname}" />
			</div>
			<div class="form-group">
				<label>Birthdate</label> <input type="date" class="form-control"
					placeholder="Enter birthdate" th:field="*{birthdate}" />
			</div>
			<div class="form-group">
				<label>DNI</label> <input type="text" class="form-control"
					placeholder="Enter DNI" th:field="*{dni}" />
			</div>
			<div class="form-group">
				<label>Working Hours</label> <input type="number"
					class="form-control" placeholder="Enter working hours"
					th:field="*{workingHours}" />
			</div>
			<div class="form-group">
				<label>Manager? (boolean):</label> <input type="checkbox"
					class="form-check-input" th:field="*{manager}" />
			</div>
			<div class="form-group">
				<label>Minimun Wage</label> <input type="number"
					class="form-control" placeholder="Enter minimun wage"
					th:field="*{minimunWage}" />
			</div>
			<div class="form-group">
				<label>Store</label> <select class="form-control" placeholder="Store"
					th:field="*{store.id}">
					<option th:each="store : ${stores}" th:value="${store.id}"
						th:text="${store.address.city}"></option>
				</select> <input class="btn btn-outline-dark btn-edit" type="submit"
					value="Create new employee">
			</div>
		</form>
	</div>
</body>
</html>