	<div class="employee-table">
		<table id="employee" class="display table table-striped table-dark">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Surname</th>
					<th scope="col">Standard Salary</th>
					<th scope="col">Plus</th>
					<th scope="col">Total Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td><span th:text="${employee.id}" /></td>
					<td><span th:text="${employee.name}" /></td>
					<td><span th:text="${employee.surname}" /></td>
					<td><span th:text="${employee.minimunWage}" /></td>
					<td><span th:text="${employee.plus}" /></td>
					<td><span th:text="${employee.plus} + ${employee.minimunWage}" /></td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>