<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/sale-request-update.css}">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="employee-new">
		<div class="employee-new-header">
			<h5>Edit Employee</h5>
		</div>

		<form action="#" th:action="@{/employee/update}"
			th:object="${employee}" method="post">
			<input type="hidden" th:field="*{id}" />
			
			<div class="form-group">
				<label>ID</label>
				<span class="form-control" th:text="${id}" />
			</div>
			
			<div class="form-group">
				<label>Name</label> <input type="text" class="form-control"
					placeholder="Enter name" th:field="*{name}" required />
			</div>
			<div class="form-group">
				<label>Surname</label> <input type="text" class="form-control"
					placeholder="Enter surname" th:field="*{surname}" required />
			</div>
			<div class="form-group">
				<label>Birthdate</label> <input type="date" class="form-control"
					placeholder="Enter birthdate" th:field="*{birthdate}" required />
			</div>
			<div class="form-group">

				<label>DNI</label> <input type="number" class="form-control"
					placeholder="Enter DNI" th:field="*{dni}" required/>
			</div>
			<div class="form-group">

				<label>Working Hours</label> <input type="number"
					class="form-control" placeholder="Enter working hours"
					th:field="*{workingHours}" required />
			</div>
			<div class="form-group">
				<label>Manager? (boolean):</label> <input type="checkbox"
					class="form-check-input" th:field="*{manager}" required />
			</div>
			<div class="form-group">
				<label>Minimun Wage</label> <input type="number"
					class="form-control" placeholder="Enter minimun wage"
					th:field="*{minimunWage}" required />
			</div>
			<div class="form-group">
				<label>Store</label> <select class="form-control" placeholder="Store"
					th:field="*{store.id}">
					<option th:each="store : ${stores}" th:value="${store.id}"
						th:text="${store.address.city}"></option>
				</select> 
				<input class="btn-edit btn btn-outline-dark" type="submit"
					value="Edit employee">
			</div>
		</form>
		<form action="#"
			th:action="@{/employee/delete/{id}(id=${employee.id})}" method="post">
			<input class="btn btn-outline-danger" type="submit"
				value="Delete this employee">
		</form>
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     		th:text="${mensaje}" class="alert">
		</div>
	</div>
</body>
</html>