<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/saleRequest-new.css}">
</head>
<body>
	<div class="saleRequest-new">
		<form action="#" th:action="@{/sale/update}" th:object="${sale}"
			method="post">
			<div class="saleRequest-new-header">
				<h5>Update Sale</h5>
			</div>
			<input type="hidden" th:field="*{id}" />
			
			Total: $<span th:text="${total}" />
			
			<div class="form-group">
				<label>Client</label> 
				<select class="form-control" placeholder="Client" th:field="*{client.id}">
			<option th:each="client : ${clients}" th:value="${client.id}"
			th:text="${client.name}"></option>
			</select> 
			</div>
			 <label>Date</label> <input type="datetime-local" class="form-control"
				placeholder="Enter date" th:field="*{date}">  
						<div class="form-group">
				<label>Employee</label> 
				<span th:text="${employee.name}" />
				<span th:text="${employee.surname}" />
				<span th:text="${employee.dni}" />
			</div>
		
		<div class="button-row">
				<input class="btn btn-outline-dark" type="submit"
					value="Finish Sale">
			</div>
		</form>
		
		<form action="#" th:action="@{/sale/delete/{id}(id=${sale.id})}"
			method="post">
			<input class="btn btn-danger" type="submit" value="Delete Sale" />
		</form>
	</div>
	
	<div class="saleRequest-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>UnitPrice</th>
					<th>Assistant Employee</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="saleRequest : ${saleRequests}">
					<td><span th:text="${saleRequest.product.id}" /> - <span th:text="${saleRequest.product.description}" /></td>
					<td><span th:text="${saleRequest.amount}" /></td>
					<td><span th:text="${saleRequest.product.unitPrice}" /></td>
					<!--<td><span th:text="${saleRequest.assistantEmployee.name}" /></td> -->
				</tr>
			</tbody>
		</table>
	</div>
	
	
</body>
</html>