<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sales</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/sale-Request.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="saleRequest-table">
		<table id="sale" class="display table table-striped table-dark">
			<thead>
				<tr>
					<th>ID</th>
					<th>Employee In Charge</th>
					<th>Store</th>
					<!--<th>Client</th>
					<th>Date</th> -->
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sale : ${sales}">
					<td><span th:text="${sale.id}" /></td>
					<td><span th:text="${sale.employeeInCharge.name + ' ' + sale.employeeInCharge.surname}" /></td>
					<!-- <td><span th:text="${sale.client.name}" /></td>
					<td><span th:text="${sale.date}" /></td> -->
					<td><span th:text="${sale.store.id + ' - ' + sale.store.address.city}" /></td>	
					<td><span th:text="${'$' + sale.totalPrice}" /></td>					
					<!--<td><a th:href="@{/sale/{id}(id=${sale.id})}">Edit</a></td>-->
				</tr>
			</tbody>
		</table>
		<a th:href="@{/sale/initial}" type="button" class="btn btn-dark btn-sm">New Sale</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
	    	$('#sale').DataTable();
		});
	</script>
</body>
</html>