<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/saleRequest-new.css}">
</head>
<body>
	<div class="saleRequest-new">
		<form action="#" th:action="@{/saleRequest/update}" th:object="${saleRequest}"
			method="post">
			<div class="saleRequest-new-header">
				<h5>Update Sale</h5>
			</div>
			<input type="hidden" th:field="*{id}" />
			
			<label>Employee In Charge</label> 
			<select class="form-control" placeholder="Employee" th:field="*{employeeInCharge.id}">
			<option th:each="employee : ${employees}" th:value="${employee.id}"
			th:text="${employee.name}"></option>
			</select> 
			<div class="form-group">
				<label>Client</label> 
				<select class="form-control" placeholder="Client" th:field="*{client.id}">
			<option th:each="client : ${clients}" th:value="${client.id}"
			th:text="${client.name}"></option>
			</select> 
			</div>
			<label>Date</label> <input type="datetime-local" class="form-control"
				placeholder="Enter date" th:field="*{date}">
		
		<div class="button-row">
				<input class="btn btn-outline-dark" type="submit"
					value="Edit Sale">
			</div>
		</form>
		
		<form action="#" th:action="@{/sale/delete/{id}(id=${sale.id})}"
			method="post">
			<input class="btn btn-danger" type="submit" value="Delete Sale" />
		</form>
	</div>
</body>
</html>