<form action="#" th:action="@{/producto/create}" th:object="${producto}" method="post">
	<p>
		Descripcion: <input type="text" th:field="*{descripcion}" />
	</p>
	<p>
		Marca: <input type="text" th:field="*{marca}" />
	</p>
	<p>
		Precio Unitario: <input type="text" th:field="*{precioUnitario}" />
	</p>
	<p>
		Status (boolean): <input type="text" th:field="*{status}" />
	</p>
	<!--  <p>
		Fecha alta: <input type="text" th:field="*{fechaAlta}" />
	</p> -->

	<input type="submit" value="crear" />
</form>