<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
</head>
<body>
	<form action="#" th:action="@{/producto/update}" th:object=${producto} method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			Description: <input type="text" th:field="*{descripcion}" />
		</p>
		<p>
			Marca: <input type="text" th:field="*{marca}" />
		</p>
		<p>
			Precio Unitario: <input type="text" th:field="*{precioUnitario}" />
		</p>
		<p>
			Status: <input type="text" th:field="*{status}" />
		</p>
		<input type="submit" value="Editar" />
	</form>
	<form action="#" th:action="@{/producto/delete/{id}(id=${producto.id})}" method="post">
		<input type="submit" value="Eliminar producto" />
	</form>

</body>
</html>