.employee-new {
	width:25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: white;
	border-radius: 20px;
	padding: 40px;
}

.employee-new-header {
	margin-bottom: 30px;
}

.btn {
	width: 100%;
}

.btn-edit {
	margin-top: 25px;
}


body{
	color: black;
	background-color: grey;
}

.form-check-input {

	margin-left: 10px;
}