:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-img-top{
	opacity: .9;
}

.btn-group {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.card-body {
	margin-top: 2px;
}

.each-box {
	margin-bottom: 20px;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}