.product-table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.table {
	border-radius: 5px;
}

body{
	background-color: grey;
}

.data {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
	padding: 20px;
	border-radius: 20px;
}

.data-title {
	font-size: 20px;
	font-weight: 500;
	color: grey;
}

.data-input {
	margin-bottom: 10px;
}

