.product-table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}

.table {
	border-radius: 5px;
}

body{
	background-color: grey;
}

span {
	color: black;
}