<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Batchs</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/batch-in.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

	<div th:replace="fragments/header :: header" />
	<div class="batch-table">
		<table class="display table table-striped table-dark" id="batch">
			<thead>
				<tr>
					<th>ID</th>
					<th>Product</th>
					<th>Current amount</th>
					<th>Initial amount</th>
					<th>Store</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="batch : ${batchs}">
					<td><span th:text="${batch.id}" /></td>
					<td><span th:text="${batch.product.id + ' - ' + batch.product.description}" /></td>
					<td><span th:text="${batch.currentAmount}" /></td>
					<td><span th:text="${batch.initialAmount}" /></td>
					<td><span th:text="${batch.store.id + ' - ' + batch.store.address.city}" /></td>
					<td><a th:href="@{/batch/{id}(id=${batch.id})}" class="fas" style='font-size:24px;color:black'>&#xf044;</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/batch/new}" type="button" class="btn btn-dark btn-sm">New batch</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
	    	$('#batch').DataTable();
		});
	</script>
</body>
</html>