<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Batchs</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/batch.css}">
</head>
<body>

	<div th:replace="fragments/header :: header" />
	<div class="batch-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Product</th>
					<th>Size</th>
					<th>Current amount</th>
					<th>Initial amount</th>
					<th>Store</th>
					<th>Admission date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="batch : ${batchs}">
					<td><span th:text="${batch.product.description}" /></td>
					<td><span th:text="${batch.size}" /></td>
					<td><span th:text="${batch.currentAmount}" /></td>
					<td><span th:text="${batch.initialAmount}" /></td>
					<td><span th:text="${batch.store.address.city}" /></td>
					<td><span th:text="${batch.admissionDate}" /></td>
					<td><a th:href="@{/batch/{id}(id=${batch.id})}">Edit</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/batch/new}" type="button" class="btn btn-dark btn-sm">New batch</a>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
</body>
</html>