<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/batch-new.css}">
</head>
<body>
	<div class="batch-new">
		<form action="#" th:action="@{/batch/update}" th:object="${batch}"
			method="post">
			<div class="batch-new-header">
				<h5>Update Batch</h5>
			</div>
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label>Product</label> <select class="form-control"
					placeholder="Product" th:field="*{product.id}">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.description}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Size</label> <input type="text" class="form-control"
					placeholder="Enter size" th:field="*{size}">
			</div>
			<div class="form-group">
				<label>Current amount</label> <input type="text" class="form-control"
					placeholder="Enter current amount" th:field="*{currentAmount}">
			</div>
			<div class="form-group">
				<label>Initial amount</label> <input type="text" class="form-control"
					placeholder="Enter initial amount" th:field="*{initialAmount}">
			</div>
			<div class="form-group">
				<label>Admission date</label> <input type="date"
					class="form-control" placeholder="Enter admission date"
					th:field="*{admissionDate}">
			</div>
			<div class="button-row">
				<input class="btn btn-outline-dark" type="submit"
					value="Edit Product">
			</div>
		</form>
		<form action="#" th:action="@{/batch/delete/{id}(id=${batch.id})}"
			method="post">
			<input class="btn btn-danger" type="submit" value="Delete batch" />
		</form>
	</div>
</body>
</html>