<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sale Requests</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/sale-Request.css}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="saleRequest-table">
		<table id="saleReq" class="display table table-striped table-dark">
			<thead>
				<tr>
					<th>Sale</th>
					<th>Product</th>
					<th>Amount</th>
					<th>Assistant Employee</th>
					<!-- <th>View</th>  -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="saleRequest : ${saleRequests}">
					<td><span th:text="${saleRequest.sale.id}" /></td>
					<td><span th:text="${saleRequest.product.id + ' - ' + saleRequest.product.description}" /></td>
					<td><span th:text="${saleRequest.amount}" /></td>
					 <td><span th:if="${saleRequest.assistantEmployee == null}">------------------------</span>
					 <span th:if="${saleRequest.assistantEmployee != null}">
					 <span th:text="${saleRequest.assistantEmployee.name + ' ' + saleRequest.assistantEmployee.surname}"></span>
					 </span></td>
					<!--<td><a th:href="@{/sale/saleRequest/{id}(id=${saleRequest.id})}">Edit</a></td> -->
				</tr>
			</tbody>
		</table>
		<a class="btn btn-dark btn-sm" href="/index">Back to index</a>
	</div>
	
		<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
	    	$('#saleReq').DataTable();
		});
	</script>
</body>
</html>