<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Sale Request</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/saleRequest-new.css}" />
</head>
<body>

	<div class="saleRequest-new">
		<div class="SaleRequest-new-header">
			<h5>Add Sale Request</h5>
		</div>
		<form action="#" th:action="@{/sale/saleRequest/create}"
			th:object="${saleRequest}" method="post">

			<div class="form-group">
				<label>Sale</label> <select class="form-control" placeholder="Sale"
					th:field="*{sale.id}">
					<option th:each="sale : ${sales}" th:value="${sale.id}"
						th:text="${sale.id}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Product</label> <select class="form-control"
					placeholder="Product" th:field="*{product.id}">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.description}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Amount</label> <input type="number" class="form-control"
					placeholder="Enter amount" th:field="*{amount}">
			</div>

			<label>Assistant Employee</label> 
			<!--<select class="form-control"
				placeholder="Assistant Employee" th:field="*{assistantEmployee.id}">
				<option th:each="employee : ${employees}" th:value="${employee.id}"
					th:text="${employee.name}"></option></select> -->
			<input class="btn btn-outline-dark" type="submit"
				value="Create new sale Request">
			<a><input class="btn btn-outline-dark" type="submit"
				value="Finish sale"></a>
				

		</form>
	</div>
	
	<div class="saleRequest-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>Assistant Employee</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="saleRequest : ${saleRequests}">
					<td><span th:text="${saleRequest.product.description}" /></td>
					<td><span th:text="${saleRequest.amount}" /></td>
					<td><span th:text="${saleRequest.assistantEmployee.getName()}" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>