<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Sale Request</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/sale-request-new.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="saleRequest-new">
		<div class="SaleRequest-new-header">
			<h5>Add Sale Request</h5>
		</div>
		<form action="#" th:action="@{/sale/saleRequest/create}"
			th:object="${saleRequest}" method="post">

 			<div class="form-group">
				<label>Sale</label> <select class="form-control" placeholder="Sale" th:field="*{sale.id}">
					<option th:each="sale : ${sales}" th:value="${sale.id}"
						th:text="${sale.id}"></option>
				</select>
			</div> 
			<div class="form-group">
				<label>Product</label> 
				<select class="form-control"
					placeholder="Product" th:field="*{product.id}">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.id + ' - ' + product.description}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Amount</label> <input type="number" class="form-control"
					placeholder="Enter amount" th:field="*{amount}">
			</div>

			<a class="btn btn-outline-dark m-top" href="/sale/saleRequest/new2">Select product of another sale</a>
			
			<input class="btn btn-outline-dark m-top" type="submit"
				value="Create new sale Request"> 
			<tr th:each="sale : ${sales}">
				<a class="btn btn-outline-dark m-top" th:href="@{/sale/{id}(id=${sale.id})}">Finish sale</a>
			</tr>

		</form>
	</div>
	
<!-- 	<p th:each="batch : ${batchs}">
	    <span th:if="${batch.currentAmount < amount}">No hay suficientes productos de este articulo.</span>
			</p> -->
	
	<div class="saleRequest-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>UnitPrice</th>
					<th>Assistant Employee</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="saleRequest : ${saleRequests}">
					<td><span th:text="${saleRequest.product.id}" /> - <span th:text="${saleRequest.product.description}" /></td>
					<td><span th:text="${saleRequest.amount}" /></td>
					<td><span th:text="${saleRequest.product.unitPrice}" /></td>
					<!--<td><span th:text="${saleRequest.assistantEmployee.getName()}" /></td>-->
					<td>Assistant Employee</td>
					<td><form action="#" th:action="@{/sale/saleRequest/delete/{id}(id=${saleRequest.id})}" method="post">
						<input class="btn btn-danger" type="submit"value="Remove" />
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>