<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Sale Request</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/sale-request-n.css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />
<div class='sale-request-new-parent'>
	<div class="saleRequest-new">
		<div class="SaleRequest-new-header">
			<h5>Add Sale Request</h5>
		</div>
		<form action="#" th:action="@{/sale/saleRequest/create}"
			th:object="${saleRequest}" method="post">

 			<div class="form-group">
				<label>Sale</label> <select id="sale" class="form-control" placeholder="Sale" th:field="*{sale.id}">
					<option th:each="sale : ${sales}" th:value="${sale.id}"
						th:text="${sale.id}"></option>
				</select>
			</div> 
			<div class="form-group">
				<label>Product</label> 
				<select class="form-control" id="product"
					placeholder="Product" th:field="*{product.id}">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.id + ' - ' + product.description}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Amount</label> <input id="amount" type="number" class="form-control"
					placeholder="Enter amount" th:field="*{amount}">
					<div id="stock"></div>
			</div>

			<a class="btn btn-outline-dark m-top" href="/sale/saleRequest/new2">Select product of another store</a>
			
			<input class="btn btn-outline-dark m-top" type="submit" id="boton"
				value="Create new sale Request"> 
				
			<tr th:each="sale : ${sales}">
				<a class="btn btn-outline-dark m-top" th:href="@{/sale/{id}(id=${sale.id})}">Finish sale</a>
			</tr>

		</form>
	</div>
	
	<div class="saleRequest-table">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>UnitPrice</th>
					<th>Assistant Employee</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="saleRequest : ${saleRequests}">
					<td><span th:text="${saleRequest.product.id}" /> - <span th:text="${saleRequest.product.description}" /></td>
					<td><span th:text="${saleRequest.amount}" /></td>
					<td><span th:text="${saleRequest.product.unitPrice}" /></td>
					<td><span th:if="${saleRequest.assistantEmployee == null}">------------------------</span>
					 <span th:if="${saleRequest.assistantEmployee != null}">
					 <span th:text="${saleRequest.assistantEmployee.name}"></span>
					 </span></td>
					<td><form action="#" th:action="@{/sale/saleRequest/delete/{id}(id=${saleRequest.id})}" method="post">
						<input class="btn btn-danger" type="submit"value="Remove" />
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
		$("#amount").change(function() {
			var amount = $("#amount").val();
			var productId = $("#product").val();
			var saleId = $("#sale").val();
			if($.isNumeric(amount)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/sale/saleRequest/stockVerify/"+ saleId + "/" + productId + "/" + amount
				})
				.done(function(result) {
						$("#stock").html(result);
						//$("#boton").prop("disabled", true);
				})
				.fail(function() {
				});
			}else $("#stock").html("");
		});		
		
</script>

</body>
</html>