<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Sale Request</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/sale-request-new.css}" />
</head>
<body>

	<div class="saleRequest-new">
		<div class="SaleRequest-new-header">
			<h5>Add Sale Request</h5>
		</div>
		<form action="#" th:action="@{/sale/saleRequest/create}"
			th:object="${saleRequest}" method="post">

 			<div class="form-group">

				<label>Sale</label> <select class="form-control" placeholder="Sale"
					th:field="*{sale.id}">
					<option th:each="sale : ${sales}" th:value="${sale.id}"
						th:text="${sale.id}"></option>
				</select>
			</div> 
			
			<div class="form-group">
				<label>Amount</label> <input id="select-amount" type="number" class="form-control"
					placeholder="Enter amount" th:field="*{amount}">
			</div>
			
			<div class="form-group">
				<label>Product</label> <select class="form-control" id="select-product"
					placeholder="Product" th:field="*{product.id}">
					<option th:each="product : ${products}" th:value="${product.id}"
						th:text="${product.description}"></option>
				</select>
			</div>

			<label>Stores</label>
			<div id="div-show-stores" class="row"></div>

			<label>Assistant Employee</label>
			<div id="div-show-employees" class="row"></div>
			
			<input class="btn btn-outline-dark m-top" type="submit"
				value="Create new sale Request"> 
		</form>
	</div>
	
<!-- 	<p th:each="batch : ${batchs}">
	    <span th:if="${batch.currentAmount < amount}">No hay suficientes productos de este articulo.</span>
			</p> -->
		
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$("#select-product").change(function() {
			var productId = $("#select-product").val();
			var amount = $("#select-amount").val();
			if($.isNumeric(productId)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/store/partial/"+ productId + "/" + amount
				})
				.done(function(result) {
					$("#div-show-stores").html(result);
				})
				.fail(function() {
					alert("error");
				});
			}else $("#div-show-stores").html("");
		});		
		
	</script>

</body>
</html>