<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HOME</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<div th:replace="fragments/header :: header" />
<main role="main">

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Stock Control System®</h1>
			<p class="lead text-muted">Web Application For Stock Management</p>
			<p>
				<a th:href="@{/productRanking}" class="btn btn-primary my-2">Product Ranking</a> 
				<a th:href="@{/saleInRange}" class="btn btn-secondary my-2">dejo por si pinta 2</a>
			</p>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">

			<div class="row">
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/product1.png">
						<div class="btn-group">
							<a th:href="@{/product}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/sale1.png">
						<div class="btn-group">
							<a th:href="@{/sale}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 each-box">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/sale-request1.png">
						<div class="btn-group">
							<a th:href="@{/sale/saleRequest}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>

				<div class="col-md-4 each-box">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/batch1.png">
						<div class="btn-group">
							<a th:href="@{/batch}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/employee1.jpg">
						<div class="btn-group">
							<a th:href="@{/employee}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/Client1.png">
						<div class="btn-group">
							<a th:href="@{/client}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/Address1.png">
						<div class="btn-group">
							<a th:href="@{/address}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div
						class="card mb-4 box-shadow d-flex justify-content-between align-items-center">
						<img class="card-img-top" src="/img/store1.png">
						<div class="btn-group">
							<a th:href="@{/store}" type="button"
								class="btn btn-sm btn-outline-dark">View</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 
	<!-- TestAJAX --
	<div class="container">
		<h1 class="my-2">Vistas de productos</h1>
		<select class="my-4" id="select-product">
			<option>...</option>
			<option th:each="product : ${products}" th:value="${product.id}">
				<p th:text="${product.description}"/>
			</option>
		</select>
		<div id="div-select-product" class="row"></div>
	</div>
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2018</p>
		</div>
	</footer>
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$("#select-product").change(function() {
			var productId = $("#select-product").val();
			if($.isNumeric(productId)){
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
				 	url: "/product/partial/" + productId,
				})
				.done(function(result) {
					$("#div-select-product").html(result);
				})
				.fail(function() {
					alert("error");
				});
			}else $("#div-select-product").html("");
		});
	</script>
	 -->
</main>
</html>