<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Products Dates</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/product-date.css}">
</head>
<body>
	<div th:replace="fragments/header :: header" />
	
	<div class="form-group data">
		<label class="data-title">Data</label> 
		<input type="date" class="form-control data-input" placeholder="Enter date" id="date1" />
		<input type="date" class="form-control data-input" placeholder="Enter date" id="date2" />
		<select class="form-control data-input" id="storeId" placeholder="Store">
			<option>...</option>
			<option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.id + ' - ' + store.address.city}"></option>
		</select>
	</div>
	
	<div id="div-table" class="row"></div>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
	$("#storeId").change(function() {
		var date1 = $("#date1").val();
		var date2 = $("#date2").val();
		var storeId = $("#storeId").val();
		if ($.isNumeric(storeId)) {
			$.ajax({
				method : "GET",
				url : "/productsDates/show/" + storeId + "/" + date1 + "/" + date2 
			}).done(function(result) {
				$("#div-table").html(result);
			}).fail(function() {
				alert("ERROR: posiblemente hiciste una sale sin date brouchi.");
			});
		} else
			$("#div-tables").html("");
	});
</script>
	
	
	
</body>
</html>